.SCOPE {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	background: url('../../image/imlogo.png') center center no-repeat;
    background-size: auto 36px;
    overflow: hidden;
    background-color: #13bbfa;
}