$themeColor: #13bbfa;

@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
    transition: $obj $time $type;
    -moz-transition: $obj $time $type;  
    -webkit-transition: $obj $time $type;   
    -o-transition: $obj $time $type;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
	background-size: $width, $height!important;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin bgimg_center($url) {
    background: url($url) transparent no-repeat center center;
}



%clearfix {
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}